.batton-my{
    background-color: #dda561;
}
.main-banner{
    background-image: url(../image/images/sweet.png);
    background-size: cover; height: 100vh;
}

.banner-img-1{
    background-image: url(../image/images/slider-1.jpg);
    background-size: cover; height: 100vh;
}
.banner-img-2{
    background-image: url(../image/images/slider-2.jpg);
    background-size: cover; height: 100vh;
}
.banner-img-3{
    background-image: url(../image/images/slider-3.jpg);
    background-size: cover; height: 100vh;
}